@import "main";

// detail
.detail {
  .title {
    font: {
      size: 3rem;
      weight: 500;
    }
    opacity: .8;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    color: $primary-color;
    background-color: #333;
    border-radius: 50px;
    letter-spacing: 1px;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

    .pic {
      img {
        width: 600px;
        vertical-align: middle;
      }
    }

    .text {
      width: 600px;
      background-color: #ccc;
      margin: 30px;
      padding: 20px 30px;
      border-radius: 10px;

      p {
        font: {
          size: 1rem;
          weight: 300;
        }
        color: #333;
        line-height: 1.6;
        letter-spacing: .5px;

        span {
          font: {
            size: 1rem;
            weight: 500;
          }
          color: #555;
          line-height: 1.6;
          text-align: center;
  
          i {
              padding-right: 5px;
            }
          }

          .map {
            margin-left: 5px;
            color: #333;
            transition: .5s;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }

      .description {
        margin-top: 10px;
        padding: 5px;
      }
    
  }
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 50px;

  a {
    font: {
      size: 1.1rem;
      weight: 900;
    }
    color: #333;
    background-color: $primary-color;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;

    &:hover {
      color: $text-color;
      background-color: #333;
    }
  }

}

// detail end