@import "reset";
@import "variable";

// header
#header {
  width: 100%;
  background-color: #000;
  border-bottom: 10px solid $primary-color;

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .logo {
      position: absolute;
      font: {
        size: 4rem;
        weight: 900;
        family: 'Sofia';
      }
      color: $primary-color;
      letter-spacing: 1px;
    }
  
    .nav {
      margin-top: 20px;
      a {
        font: {
          size: 1.2rem;
          weight: 700;
        }
        position: relative;
        color: $text-color;
        letter-spacing: .5px;
        padding: 10px 25px;
        cursor: pointer;
        transition: color .5s;
  
        &:hover {
          color: $primary-color;
  
          &:after {
            bottom: 3%;
            opacity: 1;
          }
        }
  
        &:after {
          content: '';
          width: 24px;
          height: 4px;
          background-color: $primary-color;
          position: absolute;
          bottom: -10%;
          left: 41%;
          opacity: 0;
          transition: .5s;
        }
      }
      :nth-child(3) {
        margin-left: 500px;
      }
    }
  
    .socal-media {
      position: absolute;
      top: 8%;
      right: 10%;
      color: $primary-color;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 150px;
      height: 50px;
      
      a {
        color: $primary-color;

        .fab {
          font: {
            size: 1.1rem;
            weight: 500;
          }
          width: 25px;
          height: 25px;
          text-align: center;
          line-height: 25px;
          cursor: pointer;
          transform: translateY(0%);
          transition: all .5s;
    
          &:hover {
            color: $text-color;
            transform: translateY(-10%);
          }
        }
      }
      
      .blog {
        font: {
          size: 1.1rem;
          weight: 500;
        }
        width: 45px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        transform: translateY(0%);
        transition: all .5s;
  
        &:hover {
          color: $text-color;
          transform: translateY(-10%);
        }
      }
      
    }
  }
}
// header end

// footer
#footer {
  width: 100%;
  background-color: #222;
  border-top: 10px solid $primary-color;

  .container {
    width: 100%;
    max-width: 1200px;
    height: 220px;
    position: relative;

    .logo {
      position: absolute;
      font: {
        size: 5rem;
        weight: 900;
        family: 'Sofia';
      }
      color: $primary-color;
      letter-spacing: 1px;
      opacity: .6;
      bottom: 18%;
      right: 0%;
    }

    .socal-media {
      position: absolute;
      color: #333;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 250px;
      height: 50px;
      bottom: 43%;
      left: 20%;

      a {
        color: #333;

        .fab {
          font: {
            size: 2rem;
            weight: 500;
          }
          width: 56px;
          height: 56px;
          background-color: $primary-color;
          border-radius: 50%;
          text-align: center;
          line-height: 56px;
          cursor: pointer;
          transform: translateY(0%);
          transition: all .5s;
    
          &:hover {
            color: $text-color;
            background-color: #333;
            transform: translateY(-10%);
          }
        }
      }
  
      .blog {
        font: {
          size: 1.2rem;
          weight: 900;
        }
        width: 56px;
        height: 56px;
        background-color: $primary-color;
        border-radius: 50%;
        text-align: center;
        line-height: 56px;
        cursor: pointer;
        transform: translateY(0%);
        transition: all .5s;
  
        &:hover {
          color: $text-color;
          background-color: #333;
          transform: translateY(-10%);
        }
      }
    }

    .copyright {
      font: {
        size: .9rem;
        weight: 300;
      }
      color: $text-color;
      letter-spacing: 1px;
      position: absolute;
      bottom: 24%;
      left: 20%;
    }

  }
}
// footer end
